<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Selenium Test Cases" verbose="6" time-out="400000">
    <test name="Wikipedia Tests in Chrome">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.example.selenium.pages.wikipedia.WikipediaMainPageTest"/>
            <class name="com.example.selenium.pages.wikipedia.WikipediaArticlePageTest"/>
        </classes>
    </test>
    <test name="Wikipedia Tests in Firefox">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="com.example.selenium.pages.wikipedia.WikipediaMainPageTest"/>
            <class name="com.example.selenium.pages.wikipedia.WikipediaArticlePageTest"/>
        </classes>
    </test>

</suite>