<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Suites">
    <suite-files>
        <suite-file path="testng-selenium-suites.xml"/>
        <suite-file path="testng-unittests-suites.xml"/>
        <suite-file path="testng-wsdl-suites.xml"/>
    </suite-files>
</suite>