<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="WSDL API Tests" verbose="6" time-out="400000">
    <test name="Global Weather Service">
        <classes>
            <class name="com.example.wsdl.globalweather.GlobalWeatherServiceTest"/>
        </classes>
    </test>
    <test name="NDE Service Tests">
        <groups>
            <run>
                <include name="discovery"/>
                <include name="delivery"/>
            </run>
        </groups>
        <classes>
            <class name="com.example.wsdl.nde.NeighbourhoodStatisticsDiscoveryTest"/>
            <class name="com.example.wsdl.nde.NeighbourhoodStatisticsDeliveryTest"/>
        </classes>
    </test>
</suite>